body {
    overflow-x: hidden;
}

@media only screen and (min-height: 700px) {
    body {
        height: 100vh;
    }
}

.bg-image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;

    background-image: url('https://images.pexels.com/photos/5962574/pexels-photo-5962574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    object-fit: cover;
}
